/*
    Created on : 9 мар. 2021 г., 9:41:25
    Author     : andym
*/

$c_g_t: #aeaeae; //Цвет текста по умолчанию color_global_text
$c_g_a: #fff; //Цвет ссылки по умолчанию
$c_g_a_h: #3366ff; //Цвет ссылки при наведении курсора
$c_g_t_l: #fff; //Цвет - белый

$с_g_bg: #404040; //Цвет фона по умолчанию
$с_g_bg_l: $c_g_t_l; //Цвет светлого фона
$c_g_bg_h: #606060; //Цвет фона посветлее hover
$c_g_bg_b: $c_g_a_h; //Цвет фона посветлее hover

$c_g_br: #888; //Цвет разделительных линий по умолчанию


